fastapi==0.115.12
uvicorn[standard]==0.34.2
SQLAlchemy==2.0.41
alembic==1.16.1
psycopg[binary]==3.2.9
pydantic-settings==2.9.1
email-validator==2.2.0
argon2-cffi==23.1.0
nh3==0.2.21
PyMySQL[rsa]==1.1.1
